.select-model{
    background-color: #F1F1F1;
    border-radius: 15px;
    font-size: 20px;
}
.cart-container{
    background-color: #003B3A;
}
.model-img{
    height: 70px;
    width: 70px;
    border-radius: 20px;
}
.price{
    color: #FFC745;
}